<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Top</title>

  </head>

  <body>
    <div align = right>
  <font color="white">ようこそ、さん</font>
<a href="login">(ログインページ)</a>
</div>

  <div>
  <h1><font color="339999" size="7">リジョブサイト</font></h1>

      <a href="search">検索ページにいく</a><br>
　　　↑都道府県から探せるよ♪

      <br><br>
      <div>
        <h1>案件一覧</h1>
      <table border=1 >
      <tr>
      <td>ID</td>
       <td>タイトル</td>
       <td style="width:100px">都道府県</td>
       <td>詳細</td>
      </tr>
        <% @jobs.all.each do |job| %>
        <tr>
      <td style="width:50px"><%= job.id %></td>
      <td><a href="/job?id=<%= job.id %>"<%= job.title %></a></td>
      <td><%= job.name%></td>
      <td><%= job.description %></td>
      <% end %>
      </tr>
      </table>
      </div>


　　　　↑案件ぺージに進むよ♪




  </body>
</html>
