<!DOCTYPE html>
<html>
    <head>
　<title>CSS | レイアウトの配置</title>
　　<style>
#header
{
  width:1100px;
   height:74px;
   background-color:pink;

}
#footer{
   width:700px;
   height:100px;
   background-color:pink;
   clear:both;
}
  </style>
    </head>
    <body>
      <div align = right>
      <font color="white">ようこそ、さん</font>
    <a href="top">(リジョブTOP)</a>
  </div>
      <br>
  <div color="white" id="header"><h1>会社管理</h1></div><br>
  <h2>案件一覧</h2>
     </div>
      案件は<%= @jobs.count %>件です
      <div align=right>
      <font color="white">ようこそ、さん</font>
      <a href="newedit">(新規作成)</div></a>

 <table border=1 >
<tr>
  <td>都道府県</td>
  <td>タイトル</td>
  <td>詳細</td>
  <td style="width:50px">edit</td>
</tr>
<% @jobs.each do |job| %>
  <tr>
    <td style="width:100px"><%= job.name%></td>
    <td><a href="/job?id=<%= job.title %>>"><%= job.title %></a></td>
    <td><%= job.description %></td>
    <td><a href="/edit?id=<%= job.id %>>">edit</a></td>
  </tr>
<% end %>


<form  action="admin" method="get">
</form>


</div>
</table>
  </body>
</html>
