<!DOCTYPE html>
<html>
    <head>
　<title>CSS | レイアウトの配置</title>

    </head>
    <body>
      <div align = right>
    <a href="top">(リジョブTOP)</a><br>
        <a href="admin_user_user">(useradmin)</a>
  </div>
      <br>
  <h1><font color="#382b33" size="7">会社管理</font><h1><br>
  <h2>案件一覧</h2>

      案件は<%= @jobs.count %>件です
      <div align=right>
      <font color="white">ようこそ、さん</font>
      <a href="newedit">(新規作成)</div></a>

 <table border=1 >
<tr>
  <td style="width:40px" align=center>ID</td>
  <td>都道府県</td>
  <td>タイトル</td>
  <td>詳細</td>
  <td style="width:50px">edit</td>
　<td>応募数</td>
</tr>

<% Job.all.each do |job| %>
  <tr>
    <td style="width:40px" align=center><%=job.id%></td>
    <td style="width:80px" align=center><%= job.name %></td>
    <td><a href="/job/<%= job.id %>"><%= job.title %></a></td>
    <td><%= job.description %></td>
    <td style="width:40px" align=center><a href="/edit?id=<%= job.id %>">edit</a></td>
    <td style="width:40px" align=center>
      <%=  JobsUser.where(job_id: job.id).count  %><br></td>
  </tr>
<% end %>


<form  action="admin" method="get"></form>



</div>
</div>
</table>
  </body>
</html>
