<!DOCTYPE html>
<html>
<head>
  <title>RejobKyuuzin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css">
  div.contentsbox
  {
      border-style: solid;
      border-width: 0px 20px 20px 20px;
      border-color: #f08f9b;

  }

</style>

</head>
<body>
    <div class="contentsbox">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <br>



    <% end %>

    <div class="header-top"></div>



<%= yield %>
</div>
</body>
</html>
